
__pycache__/
*$py.class


venv/
ENV/
env/
.env/
.venv/

*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

media/
staticfiles/

.vscode/

.DS_Store


Thumbs.db
ehthumbs.db
Desktop.ini


.env