{% extends 'port_mat/home.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'port_mat/header.html' %}
    <section class="about">
        <h1>Chi sono</h1>
        <p>Mi chiamo Mateo Prifti, un Full-Stack Web Developer con esperienza in Python, Django, JavaScript, HTML e CSS...</p>
    </section>
    {% include 'port_mat/footer.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}