{% extends 'port_mat/home.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include 'port_mat/header.html' %}
    <section class="about">
        <h1>Chi sono</h1>
        <div class="about-container">
            <img src="{% static 'images/mateo.jpg' %}" alt="Foto di Mateo Prifti" class="profile-photo">
            <p class="about-text">
                Ciao Mateo! È un piacere conoscerti, e che bel profilo da Full-Stack Web Developer con competenze in Python, Django, JavaScript, HTML e CSS! 😄 Visto che mi hai chiesto "una cosa più lunga a caso" per fare un esempio, ti racconto una storia completamente inventata e un po’ stravagante, che mescola tecnologia, avventura e un pizzico di umorismo, proprio per onorare il tuo spirito creativo da sviluppatore. Preparati, sarà un viaggio!
            </p>
        </div>
    </section>
    {% include 'port_mat/footer.html' %}
{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}