<footer>
    <div class="footer-content">
      <p>© 2025 - Mateo Prifti (PriestH13). All rights reserved.</p>
  
      <div class="footer-contact">
        <ul>
          <!-- Email -->
          <li><a href="mailto:mateo.prifti13@gmail.com" title="Email">
            <ion-icon name="mail-outline" class="icon"></ion-icon>
          </a></li>
  
          <!-- LinkedIn -->
          <li><a href="https://www.linkedin.com/in/mateo-prifti-2790271b0" target="_blank" title="LinkedIn">
            <ion-icon name="logo-linkedin" class="icon"></ion-icon>
          </a></li>
  
          <!-- GitHub -->
          <li><a href="https://github.com/PriestH13" target="_blank" title="GitHub">
            <ion-icon name="logo-github" class="icon"></ion-icon>
          </a></li>
  
          <!-- Telegram -->
          <li><a href="https://t.me/Mateo_prifti" target="_blank" title="Telegram">
            <ion-icon name="paper-plane-outline" class="icon"></ion-icon>
          </a></li>
        </ul>
      </div>
    </div>
  </footer>
  