{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mateo Prifti{% endblock %}</title>
    <link rel="icon" href="{% static 'images/priestH13.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lg-zoom.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/css/lg-thumbnail.min.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X7L9J96XSN"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-X7L9J96XSN');
    </script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
        {% include 'port_mat/header.html' %}
        <section class="intro">
            <img src="{% static 'images/profile_mateo.jpg' %}" alt="Foto Profilo di Mateo Prifti" class="intro-image">
            <div class="intro-text">
                <h1>Mateo Prifti</h1>
                <p>Full-Stack Web Developer con esperienza in Python, Django, JavaScript, HTML e CSS. Appassionato di sviluppo web e soluzioni scalabili.</p>
                <a href="{% url 'about' %}" class="btn btn-primary">Scopri di più</a>
            </div>
        </section>
        <section class="services">
            <h2>Servizi</h2>
            <div class="services-grid">
                <div class="service-card">
                    <h3>Sviluppo Web</h3>
                    <p>Realizzazione di siti web responsivi con Django, HTML, CSS, JavaScript.</p>
                </div>
                <div class="service-card">
                    <h3>Backend Scalabile</h3>
                    <p>Sviluppo di backend robusti e scalabili con Python e Django.</p>
                </div>
                <div class="service-card">
                    <h3>UI/UX Design</h3>
                    <p>Creazione di interfacce utente intuitive e design accattivanti.</p>
                </div>
            </div>
        </section>
        <section class="portfolio">
            <h2>Featured Works</h2>
            <div class="portfolio-grid">
                {% for project in projects %}
                <div class="portfolio-item">
                    <div id="gallery-{{ project.id }}-home" class="lightgallery">
                        {% if project.images.all %}
                            <a href="{{ project.images.first.image.url }}" data-sub-html="{{ project.images.first.description }}" data-src="{{ project.images.first.image.url }}">
                                <img src="{{ project.images.first.image.url }}" alt="{{ project.title }}" class="project-image">
                            </a>
                            {% for img in project.images.all %}
                                {% if not forloop.first %}
                                <a href="{{ img.image.url }}" data-sub-html="{{ img.description }}" data-src="{{ img.image.url }}">
                                    <img src="{{ img.image.url }}" style="display:none;" alt="{{ project.title }}">
                                </a>
                                {% endif %}
                            {% endfor %}
                        {% elif project.image %}
                            <a href="{{ project.image.url }}" data-src="{{ project.image.url }}">
                                <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image">
                            </a>
                        {% endif %}
                    </div>
                    <h4>{{ project.title }}</h4>
                    <a href="{% url 'projects' %}" class="btn btn-secondary">Vedi tutti i progetti</a>
                </div>
                {% endfor %}
            </div>
        </section>
        {% include 'port_mat/footer.html' %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/lightgallery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/zoom/lg-zoom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.7.2/plugins/thumbnail/lg-thumbnail.min.js"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>