{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Mateo Prifti</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>


    {% include 'port_mat/header.html' %}

  <section class="intro">
    <img src="{% static 'images/profile_mateo.jpg' %}" alt="Foto Profilo">
    <div class="intro-text">
      <h1>Mateo Prifti</h1>
      <p>Full-Stack Web Developer con esperienza in Python, Django, JavaScript, HTML e CSS. Appassionato di sviluppo web e soluzioni scalabili.</p>
      <button class="btn"><a href="{% url 'projects' %}">Scopri di più</a></button>
    </div>
  </section>

  <section class="services">
    <div class="service-card">
      <h3>xxxxxx</h3>
      <p>xxxxxxxxxxxxxxxx.</p>
    </div>
    <div class="service-card">
      <h3>xxxxxxxx</h3>
      <p>Editing avanzato e creazione grafica per progetti digitali.</p>
    </div>
    <div class="service-card">
      <h3>Web Development (Python, Django)</h3>
      <p>Realizzazione di siti web responsivi con Django, HTML, CSS, JavaScript. Sviluppo di backend scalabili con Python.</p>
    </div>
  </section>

  <section class="portfolio">
    <h2>Featured Works</h2>
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <img src="{% static 'port_mat/images/project1.jpg' %}" alt="Progetto 1">
        <h4>xxxxxxxxx</h4>
      </div>
      <div class="portfolio-item">
        <img src="{% static 'port_mat/images/project2.jpg' %}" alt="Progetto 2">
        <h4>xxxxxxxxxxxxx</h4>
      </div>
      <div class="portfolio-item">
        <img src="{% static 'port_mat/images/project3.jpg' %}" alt="Progetto 3">
        <h4>xxxxxxxxxx</h4>
      </div>
    </div>
  </section>

  <footer>
    © 2025 - Mateo Prifti (PriestH13). Tutti i diritti riservati.
  </footer>

  <script>
    function toggleMenu() {
      document.querySelector('.nav').classList.toggle('active');
    }
  </script>

</body>
</html>
