{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio | Mateo Prifti</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    {% include 'port_mat/header.html' %}

  <section class="intro">
    <img src="{% static 'images/profile_mateo.jpg' %}" alt="Foto Profilo">
    <div class="intro-text">
      <h1>Mateo Prifti</h1>
      <p>Full-Stack Web Developer con esperienza in Python, Django, JavaScript, HTML e CSS. Appassionato di sviluppo web e soluzioni scalabili.</p>
      <button class="btn"><a href="{% url 'projects' %}">Scopri di più</a></button>
    </div>
  </section>

  <section class="services">
    <div class="service-card">
      <h3>xxxxxx</h3>
      <p>xxxxxxxxxxxxxxxx.</p>
    </div>
    <div class="service-card">
      <h3>xxxxxxxx</h3>
      <p>Editing avanzato e creazione grafica per progetti digitali.</p>
    </div>
    <div class="service-card">
      <h3>Web Development (Python, Django)</h3>
      <p>Realizzazione di siti web responsivi con Django, HTML, CSS, JavaScript. Sviluppo di backend scalabili con Python.</p>
    </div>
  </section>

  <section class="portfolio">
    <h2>Featured Works</h2>
    <div class="portfolio-grid">
      {% for project in projects %}
      <div class="portfolio-item">
        <a href="{% url 'projects' %}">  <!-- Link alla pagina projects.html -->
          <img src="{{ project.image.url }}" alt="{{ project.title }}">
          <h4>{{ project.title }}</h4>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>

  {% include 'port_mat/footer.html' %}

  <script>
    function toggleMenu() {
      document.querySelector('.nav').classList.toggle('active');
    }
  </script>

</body>
</html>
