{% load static %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

{% include 'port_mat/header.html' %}

<section class="projects">
  <h1>I miei Progetti</h1>
  <div class="portfolio-grid">
    {% for project in projects %}
    <div class="portfolio-item">
      <img src="{{ project.image.url }}" alt="{{ project.title }}"> <!-- Immagine del progetto -->
      <h4>{{ project.title }}</h4>
      <p>{{ project.description }}</p> <!-- Descrizione del progetto -->
      <p><strong>Tecnologie:</strong> {{ project.technologies }}</p> <!-- Tecnologie utilizzate -->
      <a href="{{ project.github_link }}" target="_blank">GitHub</a> <!-- Link GitHub -->
      <a href="{{ project.demo_link }}" target="_blank">Demo</a> <!-- Link Demo -->
    </div>
    {% endfor %}
  </div>
</section>

{% include 'port_mat/footer.html' %}
