{% extends 'port_mat/home.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    {% include 'port_mat/header.html' %}
    <section class="projects">
        <h1>I miei Progetti</h1>
        <div class="portfolio-grid">
            {% for project in projects %}
            <div class="portfolio-item">
                <div id="gallery-{{ project.id }}" class="lightgallery">
                    {% if project.images.all %}
                        <!-- Prima immagine visibile -->
                        <a href="{{ project.images.first.image.url }}" data-sub-html="{{ project.images.first.description }}" data-src="{{ project.images.first.image.url }}">
                            <img src="{{ project.images.first.image.url }}" alt="{{ project.title }}" class="project-image">
                        </a>
                        <!-- Altre immagini nascoste per la galleria -->
                        {% for img in project.images.all %}
                            {% if not forloop.first %}
                            <a href="{{ img.image.url }}" data-sub-html="{{ img.description }}" data-src="{{ img.image.url }}">
                                <img src="{{ img.image.url }}" style="display:none;" alt="{{ project.title }}">
                            </a>
                            {% endif %}
                        {% endfor %}
                    {% elif project.image %}
                        <!-- Singola immagine -->
                        <a href="{{ project.image.url }}" data-src="{{ project.image.url }}">
                            <img src="{{ project.image.url }}" alt="{{ project.title }}" class="project-image">
                        </a>
                    {% endif %}
                </div>
                <h4>{{ project.title }}</h4>
                <p class="project-description">{{ project.description }}</p>
                <p class="project-technologies"><strong>Tecnologie:</strong> {{ project.technologies }}</p>
                <div class="project-links">
                    {% if project.github_link %}
                    <a href="{{ project.github_link }}" target="_blank" class="btn btn-primary" aria-label="Vedi il codice su GitHub">
                        <ion-icon name="logo-github" aria-hidden="true"></ion-icon> GitHub
                    </a>
                    {% endif %}
                    {% if project.demo_link %}
                    <a href="{{ project.demo_link }}" target="_blank" class="btn btn-secondary" aria-label="Vedi la demo del progetto">
                        <ion-icon name="play-circle-outline" aria-hidden="true"></ion-icon> Demo
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% include 'port_mat/footer.html' %}
{% endblock %}